<%= form_for(@listing) do |listing_builder| %>
  <%= render 'shared/error_messages' %>
  <p>
    <%= listing_builder.label :title %>
    <%= listing_builder.text_field :title, class: 'form-control' %><br>
  </p>

  <p>
    <%= listing_builder.label :address %>
    <%= listing_builder.text_field :address, class: 'form-control' %><br>
  </p>

  <%= listing_builder.fields_for :category do |category_builder| %>
    <p><strong>Category Name</strong> <%= category_builder.text_field :name, class: 'form-control' %><br></p>

  <% end %>

  <p>
    <%= listing_builder.label :content %>
    <%= listing_builder.text_area :content, rows: 10, class: 'form-control' %><br>
  </p>

  <p><strong>Contact</strong><%= listing_builder.text_field :contact, class: 'form-control' %><br></p>

  <p><strong>Cost</strong><%= listing_builder.text_field :cost, class: 'form-control' %><br></p>



  <%= listing_builder.submit "Create Listing", class: "btn btn-md btn-primary" %>
<% end %>
