<div class="container">
<div class="row">
  <div class="col-md-4">

   <div class="thumbnail listingImage">
    <%= image_tag @listing.image %>


    </div>
    </div>
    <div class="btn-group" role="group">
      <div class="form-buttons">
        <% if owner?(@listing) %>
          <%= link_to "Edit listing", edit_listing_path(@listing), class: 'btn btn-outline-primary btn-sm'%>
          <%= link_to "Delete listing", @listing, method: :delete, data: { confirm: "Are you sure you want to delete this listing?"}, class: 'btn btn-outline-danger btn-sm' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
    <h1 class="listingName"><%= @listing.title %></h1>

    <p>Listing Creator: <span class="listingUserName"><%= @listing.user.email %></span></p>

    <p><strong>Category</strong><span class="listingCategory"><%= display_listing_categories(@listing.categories) %></span></p>

    <span class="listingCost"><%= number_to_currency @listing.cost %></span>
    
    <p><strong>Contact:</strong><br><span class="listingContact"><%= @listing.contact %><span></p>

    <h3>Details</h3>
    <span class="listingDescription"><%=@listing.content%></span>
    
    <br>
    <a href="#" class="js-previous btn btn-primary btn-sm" data-id="<%=@listing.id%>">Previous Listing</a>
    
    <a href="#" class="js-next btn btn-primary btn-sm" data-id="<%=@listing.id%>">Next Listing</a>
    </div>
    

  
<br>

<div class="col-md-12">
		<h3 class="listingAddress">Location: <%= @listing.address %></h3>
		<div id="map-container">
		  <div id="map-canvas"></div>
		</div>
	</div>

<%= link_to "<< Back to Listings", root_path, class: 'btn btn-outline-primary btn-small back-to-listing-button'%>

<%= javascript_tag do %>
	latitude = '<%= j @listing.latitude.to_s %>';
	longitude = '<%= j @listing.longitude.to_s %>';
	title = '<%= j @listing.title %>';
	cost = '<%= j number_to_currency(@listing.cost) %>';
	address = '<%= j @listing.address %>';
<% end %>

<div class="container">
<div class="listing-reviews">
  <h3>Reviews</h3>
	<% if user_signed_in? %>
  <%= render 'reviews/form' %>
<% end %>
<br>
		<div id="submitted-reviews">
<% @listing.reviews.each do |review| %>
<div class="rev" id="review-<%= review.id %>">
	<strong class="reviewUserName"><%= review.user.email %></strong> says: <span class="reviewContent"><%= review.content %></span><br>
  <span><small><%= review.updated_at.strftime("%e %B %Y %H:%M %p") %></small></span>
  <br>
	<br>
</div>
<% end %>
</div>