<div class="container">
  <div class=" well col-sm-6">
    <%= render 'shared/error_messages' %>
    <h3>Listing</h3>

    <h3>Title: <span class="listingTitle"><%=@listing.title%></span></h3>
    <p>Written by: <span class="listingUserName"><%= @listing.user.name %></span></p>
    <p>Location: <span class="listingLocation"><%=@listing.address%></span></p>
    <p>Category Name: <span class="listingCategoryName"><%= @listing.category.name %></span></p>
   

    <p>Description: <span class="listingContent"><%=@listing.content%></span></p>
    <p>Contact: <span class="listingContact"><%=@listing.contact%></span></p><br>

    <p>Cost: <span class="listingCost"><%=@listing.cost%></span></p>

    <%= link_to "Update Listing", edit_listing_path(@listing), class: "btn btn-info btn-sm dest_button" %><br><br>
    <%= link_to "Delete Listing", [@listing], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-sm dest_button" %><br><br>

    <% if current_user %>
      <h4>Add a review:</h4>
        <%= form_for @review, url: listing_reviews_path(@listing, @review)  do |f| %>
          <p><strong>Content</strong> <%= f.text_area :content, class: 'reviewBox form-control' %></p>
          <!-- <%= f.submit "Create Review", class: "btn btn-sm btn-primary" %> -->
          <button type="submit" class="btn btn-sm btn-primary">Create Review</button>
        <% end %><br>
    <% else %>
      <p>Please log in order to add a review.</p>
    <% end %>
    <h4>Reviews:</h4>
    <div id="submitted-reviews">
      <% @listing.reviews.each do |review| %>
      <div class="well well-white" id="review-<%= review.id %>">
        <strong class="reviewUserName"><%= review.user.name %></strong> says: <span class="reviewContent"><%= review.content %></span>
      </div>
      <% end %>
    </div>

    <a href="#" class="js-previous btn btn-primary btn-sm" data-id="<%=@listing.id%>">View Previous Listing</a><br><br>
    <a href="#" class="js-next btn btn-primary btn-sm" data-id="<%=@listing.id%>">View Next Listing</a><br><br>
  </div>

</div>
